.react-multi-carousel-dot > button{
    background-color: #2f7096;
    border: 0px !important;
    width: 10px !important;
    height: 10px !important;
}
.react-multi-carousel-dot--active > button{
    background-color: #2e5d7c !important;
}
